body {
    height: 100vh;
    /* background-color: #03072a; */
    background-color: white;
    font-family: monospace;
    font-size: 20px;
    overflow: hidden;
}

a {}

p {
    font-size: 4vh;
}

#title,
[class|=description],
.interlude,
.skills,
[class|=skills],
[class|=skilld] {
    position: relative;
    display: inline-block;
}

.heading {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20vh;
    height: 50vh;
}

#title {
    color: black;
    font-size: 7vh;
}

[class|=description] {
    position: relative;
    color: black;
    margin-block: 1vw;
}

.interlude {
    margin-block: 10vw;
    margin-inline: 2vw;
    font-size: 2vw;
}

[class|=skilld] {
    font-size: 1.5vw;
    margin-block: 1rem;
}

#title::after,
[class|=description]::after,
.interlude::after,
.skills::after,
[class|=skills]::after,
[class|=skilld]::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    right: 0;
}

#title::after {
    animation: mask-forward-1 steps(5) forwards 0.3s 2s, mask-forward-2 steps(19) forwards 0.7s 4s;
}

.description-1::after {
    animation: mask-forward-2 steps(77) forwards 2s 7.7s;
}

.description-2::after {
    animation: mask-forward-2 steps(77) forwards 2s 9.7s;
}

.description-3::after {
    animation: mask-forward-2 steps(77) forwards 2s 11.7s;
}

.interlude::after {
    animation: mask-forward-2 steps(77) forwards 2s 16.7s;
}

.skills::after {
    animation: mask-forward-2 steps(77) forwards 0.3s 21.4;
}

.skills-1::after {
    animation: mask-forward-2 steps(77) forwards 0.3s 24.7s;
}

.skilld-1::after {
    animation: mask-forward-2 steps(77) forwards 2.5s 27s;
}

.skilld-2::after {
    animation: mask-forward-2 steps(77) forwards 2.5s 29.5s;
}

.skills-2::after {
    animation: mask-forward-2 steps(77) forwards 0.3s 35s;
}

.skilld-3::after {
    animation: mask-forward-2 steps(77) forwards 2.7s 37.3s;
}

.skilld-4::after {
    animation: mask-forward-2 steps(77) forwards 2.5s 40s;
}

.skilld-5::after {
    animation: mask-forward-2 steps(77) forwards 2.5s 42.5s;
}

#title::before,
[class|=description]::before,
.interlude::before,
.skills::before,
[class|=skills]::before,
[class|=skilld]:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 2px;
    background-color: white;
    position: absolute;
    left: -2px;
}

#title::before {
    background-color: black;
    animation: cursor-blink-2 steps(1) 2s backwards, cursor-forward-1 steps(5) forwards 0.3s 2s, cursor-blink-2 steps(1) 2s backwards 2.3s, cursor-forward-2 steps(19) forwards 0.7s 4s, cursor-blink steps(1) 3s none 4.7s, cursor-transparent steps(1) 0s forwards 7.7s;
}

.description-1::before {
    animation: cursor-white steps(1) 0s forwards 7.7s, cursor-forward-2 steps(77) forwards 2s 7.7s, cursor-transparent steps(1) 0s forwards 9.7s;
}

.description-2::before {
    animation: cursor-white steps(1) 0s forwards 9.7s, cursor-forward-2 steps(77) forwards 2s 9.7s, cursor-transparent steps(1) 0s forwards 11.7s;
}

.description-3::before {
    animation: cursor-white steps(1) 0s forwards 11.7s, cursor-forward-2 steps(77) 2s forwards 11.7s, cursor-blink steps(1) 3s backwards 13.7s, cursor-transparent steps(1) 0s forwards 16.7s;
}

.interlude::before {
    animation: cursor-white steps(1) 0s forwards 16.7s, cursor-forward-2 steps(77) 2s forwards 16.7s, cursor-blink steps(1) 3s backwards 18.7s, cursor-transparent 0s forwards 21.7s;
}

.skills ::before {
    animation: cursor-white steps(1) 0s forwards 21.4s, cursor-forward-2 steps(77) 0.3s forwards 21.4s, cursor-transparent steps(1) 0s forwards 21.7s;
}

.skills-1::before {
    animation: cursor-white steps(1) 0s forwards 21.7s, cursor-blink steps(1) 3s backwards 21.7s, cursor-forward-2 steps(20) 0.3s forwards 24.7s, cursor-blink-2 2s forwards 25s, cursor-transparent 0s forwards 27s;
}

.skilld-1::before {
    animation: cursor-white steps(1) 0s forwards 27s, cursor-forward-2 steps(77) 2.5s forwards 27s, cursor-transparent 0s forwards 29.5s;
}

.skilld-2::before {
    animation: cursor-white steps(1) 0s forwards 29.5s, cursor-forward-2 steps(77) 2.5s forwards 29.5s, cursor-transparent 0s forwards 32s, cursor-blink steps(1) 3s backwards 32s;
}

.skills-2::before {
    animation: cursor-white steps(1) 0s forwards 35s, cursor-forward-2 steps(20) 0.3s forwards 35s, cursor-white steps(1) 0s forwards 35s, cursor-blink-2 2s forwards 35.3s, cursor-transparent 0s forwards 37.3s;
}

.skilld-3::before {
    animation: cursor-white steps(1) 0s forwards 37.3s, cursor-forward-2 steps(77) 2.7s forwards 37.3s, cursor-transparent 0s forwards 40s;
}

.skilld-4::before {
    animation: cursor-white steps(1) 0s forwards 40s, cursor-forward-2 steps(77) 2.5s forwards 40s, cursor-transparent 0s forwards 42.5s;
}

.skilld-5::before {
    animation: cursor-white steps(1) 0s forwards 42.5s, cursor-forward-2 steps(77) 2.5s forwards 42.5s, cursor-white steps(1) 0s forwards 42.5s, cursor-blink steps(1) infinite 3s both 45s;
    /* , cursor-transparent 0s forwards 45s */
}

@keyframes mask-forward-1 {
    to {
        width: calc(100% - 22%);
    }
}

@keyframes mask-forward-2 {
    to {
        width: 0;
    }
}

@keyframes cursor-forward-1 {
    to {
        left: calc(22% - 2px);
    }
}

@keyframes cursor-forward-2 {
    to {
        left: calc(100% - 2px);
    }
}

@keyframes cursor-blink {
    25% {
        background-color: transparent;
    }
    50% {
        background-color: black;
    }
    75% {
        background-color: transparent;
    }
    100% {
        background-color: black;
    }
}

@keyframes cursor-blink-2 {
    37.5% {
        background-color: transparent;
    }
    75% {
        background-color: black;
    }
    100% {
        background-color: transparent;
    }
}

@keyframes cursor-transparent {
    100% {
        background-color: transparent;
    }
}

@keyframes cursor-white {
    100% {
        background-color: black;
    }
}

@media (max-width: 990px) {
    #title,
    h1 {
        font-size: 6vw;
    }
    [class|=description] {
        font-size: 2.5vw;
    }
    p,
    a {
        font-size: 2vw;
    }
}